.inner-container {
    gap: 1.5rem;
    background-color: rgb(117, 117, 189);
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid rgb(138, 138, 204);
    text-align: center;
}

.inner-container .primaryText {
    color: white;
    font-weight: 600;

}

.inner-container .secondaryText {
    color: white;
}

.inner-container .button {
    background: #5a37ad;
    border: 2px solid white;
    box-shadow: 0 0 3px #e2d9d9, 0 0 5px #0000FF;
    border-radius: 10px;
}